@font-face {
  font-family: 'Fixel Display';
  src: url('./assets/fonts/FixelDisplay-Light.otf') format('opentype'),
      url('./assets/fonts/FixelDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('./assets/fonts/FixelDisplay-Regular.otf') format('opentype'),
      url('./assets/fonts/FixelDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('./assets/fonts/FixelDisplay-Medium.otf') format('opentype'),
      url('./assets/fonts/FixelDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('./assets/fonts/FixelDisplay-SemiBold.otf') format('opentype'),
      url('./assets/fonts/FixelDisplay-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('./assets/fonts/FixelDisplay-Bold.otf') format('opentype'),
      url('./assets/fonts/FixelDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('./assets/fonts/FixelDisplay-ExtraBold.otf') format('opentype'),
      url('./assets/fonts/FixelDisplay-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}